<span id="ajax_donate_link_menu_{{rand}}">
    <a href="javascript:void(0);" id="donate_link_send_vip">
        {% helper lang.l('send_vip', 'send_vip') %}
    </a>
    <script>
        $(function () {
            ajaxGetSendVipBlock{{rand}} = new loadingContent({
                loadBlockWidth: '400px',
                loadBlockLeftType: 'right',
                loadBlockTopType: 'bottom',
                closeBtnClass: 'w'
            }).update_css_styles({'z-index': 2000}).update_css_styles({'z-index': 2000}, 'bg');
            $('#donate_link_send_vip').unbind('click').click(function () {
                $.ajax({
                    url: site_url + 'send_vip/ajaxGetSendVipBlock/{{ user_id }}',
                    cache: false,
                    success: function (data) {
                        ajaxGetSendVipBlock{{rand}}.show_load_block(data);
                    }
                });
            });
        });
        $(function () {
            loadScripts(
                    "{% helper utils.jscript('send_vip', 'send_vip.js', 'path') %}",
                    function () {
                        declineVipTransaction = new ajaxDeclineVipTransaction({
                            siteUrl: site_url,
                        });
                        approveVipTransaction = new ajaxApproveVipTransaction({
                            siteUrl: site_url,
                        });
                    },
                    ['declineVipTransaction', 'approveVipTransaction'],
                    {async: true}
            );
        });
    </script>
</span>