{% if promo.page == 'all' %}
<div class="demo-promo-block-js hide">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 promo-image">
        <div class="col-xs-12 demo-close-link-js"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div><img class="img-responsive" src="{{ site_root }}application/views/flatty/img/btnBuy-pair.png"></div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4  col-lg-4 demo-description">
        <div>
            <div>Full control over your website from design to tariffs and member data</div>
            <div>Works on any device with internet</div>
            <div>Dating site with members</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4  col-lg-4 link-block">
        <div class="col-xs-12 demo-close-link-js"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="col-xs-12 demo-link">
            <a target="_blank" href="https://marketplace.datingpro.com/information/pricing/">Buy ready-made dating site with mobile apps</a>
        </div>
    </div>
</div>
{% endif %}    