<div class="col-md-4 col-sm-{{ col_sm }} col-xs-6 tile_stats_count">
    <span class="count_top text-overflow">{% helper lang.l('field_online_now', 'users') %}</span>
    <div class="count">{{ online_count }}</div>
    <span class="count_bottom"><i class=""></i>&nbsp;</span>
</div>