$html_bg: #F7F7F7;
$main_bg: #FFFFFF;
$header_bg: #FFFFFF;
$footer_bg: #FFFFFF;
$popup_bg: #363537;
$input_main_btn: #32B44A;
$input_additional_btn: #1479B8;
$font_color: #73879C;
$link_color: #5A738E;
$contrast_color: #ECF0F1;
$font_family: ''Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif';
$main_font_size: 14px;
$h2_font_size: 14px;
$small_font_size: 12px;
$index_bg_size: auto auto;
$index_bg_image_scroll: 0;
$index_bg_image_adjust_width: 0;
$index_bg_image_adjust_height: 0;
$index_bg_image_repeat_x: 0;
$index_bg_image_repeat_y: 0;
