@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf); 
}
@font-face {
    font-family: Allegretto-Script-One;
    src: url(../fonts/Allegretto-Script-One.ttf);
}
.nav {
    font-size: 20px;  
    margin-top: 20px;  
    text-transform: uppercase;  
    /*float: right;*/
}
.nav a {
    font: 300 18px 'Roboto';
}
.header_container{
    padding: 38px 0;
}
/*.navbar-nav li i{
        display: none;
}
.navbar-nav li i:hover{
        display: block;
        text-align: center;
        font-size: 10px;
        padding: 3px 0;
}*/
.nav .dropdown {
    padding: 10px 15px;
}
.nav .dropdown:hover,
.nav .dropdown:focus {
    background-color: #eee;
}
.nav .dropdown:hover a {
    text-decoration: none;
}

.b-logo {
    padding: 30px 0 0;
}
.text-color-white {color: #FFF;}
.text-bold {	color: #1a1a1a;	font-family: 'Open Sans Condensed', sans-serif;  font-weight: bold; }
.tsize60{
    text-transform: uppercase;  
    font: bold 60px/1em 'Roboto';
    line-height: 0.8;
}
.tsize72{
    font-size: 72px;
    margin: 0 0 2px 0;
    font-family: Allegretto-Script-One;
}
.tsize45{
    font: bold 45px 'Roboto';
    text-transform: uppercase;
}
.tsize40{
    text-transform: uppercase;  
    font: bold 40px/1em 'Roboto';
    line-height: 0.8;
}
.img-responsive{
    margin: 0 auto;
}
ul li {list-style-type: none;}
.slogan{
    text-transform: uppercase;
    font: bold 72px/1em 'Roboto';
    font-weight: bold;
    padding: 25px 0;
}

@media (max-width: 420px) {
    .slogan{
        font: bold 24px/1em 'Roboto';
    }
}

.thumbnail {border: none;  box-shadow: none; padding: 0; display: inline-block;}
.thumbnail + .caption {
    margin-bottom: 20px;
}
.our_agency{
    line-height: 24px
}
.news-backgroud {
    background-image: url(../images/b-news-bg.jpg); 
    padding-bottom: 20px;	
    padding-top: 20px;
    min-height: 320px;
    background-position: top;
}
.news__list {
    margin: 30px 0;
}
.news__list .photo-small {
    float: left;
}
.news__txt {
    color: #fff;
    padding-bottom: 40px;
}
.news__name {
    margin-bottom: 5px;
}
.news__annotation {
    font-size: 12px;
    margin-bottom: 5px;
}
.news__more {
    font-size: 12px;
}
.news img {
    margin: 0;
}
@media (min-width: 768px) {
    .news__txt {
        padding-left: 90px;
    }
}
.pd5{
    padding:5px;
}
.pd25{
    padding: 25px 0;
}
.pd30{
    padding: 37px 0 10px 0;
}
.glyphicon{
    font-size: 16px;	
}
.thumb-box4 {
    padding: 40px 15px;
    overflow: hidden;
}
figure img{
    width: 100%;
}
footer .copyright{  padding: 20px 0; border-top: 1px solid #656565;}
footer ul{margin: 0px; padding: 0px; overflow: hidden;  padding-bottom: 20px;}
footer ul>li{float: left; list-style: none; font-size: 15px; text-transform: uppercase; width: 25%;}
footer ul>li>ul{padding-top: 20px; font-size: 13px;}
footer ul>li>ul>li{float: none; text-transform: none; width: auto;}
footer ul li.active, footer ul li.active a{font-weight: bold;}

@media (max-width: 420px) {
    footer ul > li {
        width: 50%;
    }

    footer ul > li > ul {
        padding-top: 0;
    }
}

.photo_service{
    margin: 5% 0;
}	

#users {
    margin: 20px 0;
}

.dropdown-menu {
    background: #eee;
    border-radius: 0;
    min-width: 100px;
    padding: 0;
}

.dropdown-menu li {
    padding: 15px;
}

.dropdown-menu li:hover {
    background: #ddd;
}

.featured_stars__list {
    margin: 30px 0;
}

#copyright {
    margin-top: -30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.copyright {
}
.copyright a {   
}
.copyright .btn-secondary {
    border: 0;
    line-height: inherit;
    padding: 0;
    vertical-align: baseline;
    text-transform: uppercase;    
    font-weight: bold;
}
.copyright .btn-secondary:hover,
.copyright .btn-secondary:focus {
}

/*--------------------------------------------------------
*   STEP REGISTRATION POPUP
--------------------------------------------------------*/

.c-gosignup {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
.c-gosignup__fade {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/*--------------------------------------------------------
*   END STEP REGISTRATION POPUP
--------------------------------------------------------*/

/*--------------------------------------------------------
*   STEP REGISTRATION
--------------------------------------------------------*/

/* country popup */
.load_content_bg,
.alert_bg {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: rgba(0,0,0,0.8);
}
.load_content_bg div {
    top: 10% !important;
}
.load_content_bg div div:first-child {
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}
.load_content_bg {
    font-size: 14px;
}
.load_content_bg h3 {
    font-size: 14px;
    font-weight: bold;
}
.load_content_bg ol,
.load_content_bg ul,
.load_content_bg li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.load_content_bg .load_content_close.w {
    position: absolute;
    top: -15px !important;
    right: -15px !important;
    color: #fff;
}
/* end country popup */

/*--------------------------------------------------------
*   END STEP REGISTRATION
--------------------------------------------------------*/




/* REGISTRATION THEME FIXES */
.index-luisia .registration-block {
    margin-top: 0;
}
.registration-block .form-control  {
    font-weight: normal;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
}
.nav .btn-regshow {
    background: none;
    border: 0;
    border-radius: 0;
    font: 300 18px 'Roboto';
    position: relative;
    display: block;
    line-height: 20px;
    padding: 15px;
    text-align: left;
    text-transform: uppercase;
}
.nav .btn-regshow:hover {
    text-decoration: none;
    background-color: #eee;
}
/* END REGISTRATION THEME FIXES */

/* svg logo */
.svg-logo-znak {
    fill: #fff;
}
.svg-logo-part1 {
    fill: #fff;
}
.svg-logo-part2 {
    fill: #fff;
}
/* end svg logo */

