<table>
    <tr>
        <td>{% helper lang.l('notification_field_hello', 'notifications', lang_id) %}, {{ data.nickname }}!</td>
    </tr>
    <tr>
        <td style="padding-bottom:30px;">
            {% if data.is_admin %}
                {% helper lang.l('notification_field_restore_link_is_admin', 'users', lang_id) %}: 
                <a href='{{ data.restore_link }}' style="text-decoration: none;">
                    {{ data.restore_link }}
                </a>
            {% else %}
                {% helper lang.l('notification_field_restore_success', 'users', lang_id, '', {'contact_us':data.contact_us, 'domain': site_url}) %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td style="padding-bottom:30px;">
            {% helper lang.l('notification_restore_is_error', 'users', lang_id) %}. 
        </td>
    </tr>
</table>
